.popular {
  padding: 40px 0px;
  max-width: 335px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:not(:last-child){
      margin-bottom: 27px;
  }
}
.img {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  margin-right: 16px;
}
.name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
