@import "src/styles/_colors.scss";
.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.ratingBox {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
.value {
  display: inline-block;
  margin-right: 6px;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
.star {
  fill: $grey;
  opacity: 0.3;
  padding: 1px;
}
.activeStar {
  padding: 1px;
  fill: $orange;
}
.time {
  margin: 0;
  margin-left: 16px;
}
.ingredients {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 14px 0 6px;
    border-bottom: 1px solid $lightGrey;
  }
  margin-bottom: 40px;
}
.measure {
  color: $grey;
}
.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
  .tag {
    padding: 8px 26px;
    border: 1px solid $lightGrey;
    border-radius: 35px;
    margin: 0 8px 8px 0;
  }
}
.instructions {
  font-size: 14px;
  margin-bottom: 40px;
}
.favorite {
  border-radius: 15px;
  color: $white;
  background-color: $green;
  border: 1px solid $green;
  padding: 12px 24px;
  margin: 0 7px 7px 0;
}
.give {
  border-radius: 15px;
  border: 1px solid $green;
  padding: 12px 24px;
}
