@import "src/styles/_colors.scss";

.card {
  width: 335px;
  height: 335px;
  position: relative;
  color: $white;
  font-size: 12px;
  font-weight: 400;
  border-radius: 8px;
  overflow: hidden;
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}
.img {
  border-radius: 8px;
  position: absolute;
  z-index: -1;
}
.box {
  padding: 19px;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(0.94deg, rgba(5, 5, 5, 0.6) 4.82%, rgba(5, 5, 5, 0) 108.72%);
}
.heart {
  fill: transparent;
  opacity: 0.8;
  &:hover,
  &:focus {
    fill: #f8f8f8;
  }
}
.activeHeart {
  fill: $green;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.description {
  margin-bottom: 16px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  font-weight: 500;
  font-size: 12px;
  background-color: $green;
  color: $white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  &:hover,
  &:focus {
    color: $black
  }
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.value {
  font-weight: 500;
  font-size: 14px;
  margin-right: 5px;
  display: inline-block;
}
.star {
  fill: #f8f8f8;
  opacity: 0.3;
  padding: 1px;
}
.activeStar {
  padding: 1px;
  fill: $orange;
}