@import "src/styles/_colors.scss";

.categories {
  padding: 40px 0;
 width: 335px;
 margin: 0 auto;
}
.all {
  padding: 14px 29px;
  color: $grey;
  border: 1px solid $grey;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 24px;
  &:hover,
  &:focus {
  color: $black;
    background-color: $green;
    border-color: $green;
  }
}
.active {
background-color: $green;
  border-color: $green;
    color: $white;
}
.categoriesList {
  height: 198px;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: $green transparent;
  li:not(:last-of-type) {
    margin-bottom: 18px;
  }
}

.categoriesList::-webkit-scrollbar {
  width: 12px;
}

.categoriesList::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 30px;
}

.categoriesList::-webkit-scrollbar-track {
  background-color: transparent;
}
.category {
  background-color: transparent;
  border: none;
  color: $grey;
  font-size: 14px;
  font-weight: 500;
  &:hover,
  &:focus {
    color: $green;
  }
}
