@import "src/styles/_colors.scss";

.hero {
  padding-top: 65px;
  width: 335px;
  margin: 0 auto;
}
.content {
  padding: 0 20px;
  margin-bottom: 48px;
}
.title {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 14px;
  line-height: 1.2;
  .accent {
    font-weight: 400;
    color: $green;
    font-style: italic;
  }
}
.subtitle {
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 28px;
}
.order {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid $green;
  &:hover,
  &:focus {
    background-color: $green;
    color: $white;
  }
}
.slider {
  padding: 0 20px; 
}
.bullet{
  background-color: $green;
  width: 10px;
  height: 10px;
}
.slide {
  display: flex;
}
.slideCook {
  width: 80px;
  height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-right: 8px;
}
.slideTopicPreview {
  height: 280px;
  border-radius: 15px;
  background: url("../../assets/images/mobile/green-point.png"), $black;
  background-size: 197px 197px, 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .slideTopicPreview {
    background: url("../../assets/images/mobile/green-point@2x.png"), $black;
    background-size: 100% 100%, 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.slideTopicImg {
  width: 185px;
  height: 280px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black;
  padding-left: 20px;
}

