@import "src/styles/_colors.scss";

@font-face {
  font-family: "Inter", sans-serif;
  src: local("Inter"), url("../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: local("Inter"), url("../assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: local("Inter"), url("../assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: $white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.reset-btn {
  border: none;
  background-color: transparent;
}
