@import "src/styles/_colors.scss";

.filters {
  width: 335px;
  margin: 20px auto 20px;
  position: relative;
}
.field {
  border: 1px solid $grey;
  border-radius: 15px;
  padding: 14px 18px;
  position: relative;
  margin-bottom: 36px;
  & select,
  & input {
    color: $grey;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  & select {
    width: 100%;
  }
}
.subField {
  display: flex;
  justify-content: space-between;
}
.label {
  position: absolute;
  top: -22px;
  left: 0;
  color: $grey;
  font-size: 12px;
}
.ingredients {
  margin-bottom: 50px;
}
.reset {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: $grey;
  background-color: transparent;
  border: none;
  bottom: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: $green;
}
