@import "src/styles/_colors.scss";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  z-index: 9999;
  .content {
    background-color: white;
    padding: 14px;
    width: 335px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  .close {
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: auto;

    & svg {
      stroke: $black;
    }

    &:hover,
    &:focus {
      border: 1px solid $green;
      outline: none;
    }

    &:hover svg,
    &:focus svg {
      stroke: $green;
    }
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  z-index: 9999;
  background-color: $green;
  .content {
    background-color: transparent;
    box-shadow: none;
    padding: 14px;
    width: 335px;
    color: $white;
  }
  .close {
    border-radius: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
    margin-left: auto;
    padding: 0;
    & svg {
      stroke: $white;
      width: 35px;
      height: 35px;
    }
    &:hover svg,
    &:focus svg {
      stroke: $black;
    }
  }
}
.cover {
  height: 100vh;
}
