@import "src/styles/_colors.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 335px;
  margin: 0 auto;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu,
.cart {
  & svg {
    stroke: $black;
    fill: $white;
  }
  &:hover svg,
  &:focus svg {
    stroke: $green;
    outline: none;
  }
}
.menu {
    margin-left: 14px;
}
